{% load static %}

<html>
  <head>
    <title>Bro, it's blog</title>
    <link href="{% static 'main/css/base.css' %}" rel="stylesheet">
  </head>
  <body bgcolor="#E0FFFF">
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'home' %}">Bro, this is my blog</a></h1>
        </div>
        <div class="nav-right">
          <a href="{% url 'home' %}">+ New Post (not implemented)</a>
        </div>
      </header>
        {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <div>
          <a href="{% url 'logout' %}">
            <button class="button-one">Log Out</button>
          </a>
        </div>
        {% else %}
          <p>You are not logged in.</p>
          <div>
            <a href="{% url 'login' %}">
              <button class="button-one">Log In</button>
            </a>
          </div>
          <div>
            <a href="{% url 'signup' %}">
              <button class="button-one">Sign Up</button>
            </a>
          </div>
        {% endif %}
         <hr />
    {% block content %}
    {% endblock content %}
    </div>
  </body>
</html>