{% load static %}

<html>
  <head>
    <title>Bro, it's blog</title>
    <link href="{% static 'main/css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="{% url 'home' %}">Bro, this is my blog</a></h1>
        </div>
        <div class="nav-right">
          <a href="{% url 'home' %}">+ New Post (not implemented)</a>
        </div>
      </header>
      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
      {% else %}
        <p>You are not logged in.</p>
        <a>You can </a>
        <a href="{% url 'login' %}">Log In</a>
        <a> or </a>
        <a href="{% url 'signup' %}">Sign Up</a>
      {% endif %}
         <hr />
    {% block content %}
    {% endblock content %}
    </div>
  </body>
</html>