{% extends 'main/base.html' %}

{% block content %}

{% for post in object_list %}

 <div class="card__one">
  <div class="card-img">
   <img align="center" src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}">
  </div>
  <div class="card-body">
   <h5 class="card__title"><b>{{ post.title }}</b></h5>
   <a class="card__text">{{ post.body_preview }}</a>
  </div>
   <a href="{% url 'post' pk=post.id %}" class="card__one-btn">Подробнее</a>
 </div>

{% endfor %}
{% endblock content %}